{% block body %}

<div class="sticky" style="position: -webkit-sticky; position:relative; top:0; height:30px; background-color:#1b1e21; padding:0px;">
<i class="fab fa-facebook-f" style="height:17px; position:relative; color:white; margin-top:7px; margin-left:17px;"><a href="https://www.facebook.com/people/Dujki%C4%87-Doo/100005750628049" style="color:white;">  Facebook</a></i>
<i class="fas fa-phone" style="height:17px; position:relative; color:white; margin-top:7px; margin-left:17px;"> +387 39 705 506</i>
<i class="fas fa-envelope" style="height:17px; position:relative; color:white; margin-top:7px; margin-left:17px;"> info@dujkic.com</i>


</div>

{% endblock  %}